* * * * * cd /var/www/u1563375/data && /var/www/u1563375/data/venv/bin/python /var/www/u1563375/data/www/exit-exist.ru/manage.py instaparser_parse_from_username >> instaparser_parse_from_username.log 2>&1
